<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>404</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/semantic-ui/2.2.4/semantic.min.css">
    <link rel="stylesheet" th:href="@{/css/me.css}" />
</head>
<body>
<div th:fragment="header(n)">
    <nav class="ui attached  m-padded-tb-mini">
        <div class="ui container">
            <div class="ui borderless stackable menu" style="background-color: #C0C0C0 ;">
                <h1 class="ui teal header item">hikari</h1>
                <a href="#" class="item" th:classappend="${n==1} ? active"><i class="home icon"></i>首页</a>
                <a href="#" class="item" th:classappend="${n==2} ? active"><i class="idea icon"></i>分类</a>
                <a href="#" class="item" th:classappend="${n==3} ? active"><i class="tags icon"></i>标签</a>
                <a href="#" class="item" th:classappend="${n==4} ? active"><i class="clone icon"></i>归档</a>
                <a href="#" class="item" th:classappend="${n==5} ? active"><i class="info icon"></i>关于我</a>
                <div class="right item">
                    <div class="ui icon input">
                        <input type="text" placeholder="Search..." />
                        <i class="search link icon"></i>
                    </div>
                </div>
            </div>
        </div>
    </nav>
</div>
<br>
<br>
<br>
<br>
<br>
<br>
<br>


<div class="container m-padded-tb-massive">
    <div class="ui error message">
        <div class="ui container">
            <h2>404</h2>
            <p>对不起您访问的资源不存在</p>
        </div>
    </div>
</div>

<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<div th:fragment="footer">
    <div class="ui vertical footer segment m-padded-tb-huge" style="background-color:#C0C0C0 !important;">
        <div class="ui center aligned container "  >
            <div class="ui inverted divided stackable grid">
                <div class="row">
                    <div class="three wide column">
                        <img src="./images/wechat.png" class="ui rounded image" style="width: 110px;"/>
                    </div>
                    <div class="three wide column">
                        <h4 class="ui header m-text-spaced m-opacity-mini">友情链接</h4>
                        <div class="ui link list">
                            <a href="https://github.com/MasterYiQaQ"  target="_blank" class="item m-text-thin">Github</a>
                            <a href="https://space.bilibili.com/2964893"  target="_blank" class="item m-text-thin">BiliBili</a>
                        </div>
                    </div>
                    <div class="three wide column">
                        <h4 class="ui header m-text-spaced m-opacity-mini">联系我</h4>
                        <div class="ui link list">
                            <p class="m-text-thin m-text-spaced m-opacity-mini">Email:tjwy@163.com
                                QQ:1311455057</p>
                        </div>
                    </div>
                    <div class="seven wide column">
                        <h4 class="ui header">hikari</h4>
                        <div class="ui link list m-text-thin m-text-spaced m-opacity-mini">
                            <p class="m-text-thin m-text-spaced m-opacity-mini">这是我的个人博客、会分享关于编程、写作、思考相关的任何内容，希望可以给来到这儿的人有所帮助...</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="ui inverted section divider"></div>
            <p class="m-text-thin m-text-spaced m-opacity-mini">Copyright © 2021-2022 hikari Designed by MasterY </p>
        </div>
    </div>
</div>
</body>
</html>